{
    "environment": "local",
    "appPort": 3000,
    "db": {
        "host": "localhost",
        "port": "",
        "user": "",
        "password": "",
        "name": "",
        "tls": false
    },
    "redis": {
        "host": "",
        "port": "",
        "password": "",
        "tls": ""
    }
}